body{
	background: HoneyDew;
	color: #703000!important;
}

.navbar * {
	color: #703000!important;
}

.container {
	text-align: justify;
	padding: 1em;
	width:100%;
}


h1, h2 {
	text-align: center;
	font-family: UD Digi Kyokasho NK-B;
	margin: 1em;
}



img{
	width:100%;
}

p {
	padding:0!important;
	margin: 0!important;

}

.navbar {
	background: HoneyDew!important;
}

.separated{
	border-bottom: solid #c0c0c0 4px;
	margin: 0 0 1em 0;
}

a {
	text-decoration: none;
	color: crimson;
}

section {
	margin: 0 0 1em 0!important;
	padding: 1em;
	font-size: 1.2em;
}

footer {
	border-top: solid #c0c0c0 2px;
	font-size: 0.8em;
}

.banner {
	display: flex;
	justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
	background-position-y: center;
	background-position-x: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 2em;
	color: LightGreen;
	min-height: 200px;
}

.img-footer {
	font-size: 0.8em;
}

/*Para la home page*/

#homepage-banner {
	background-image: url("images/homepage-banner.jpg");
	min-height: 300px;
}


/*Para la página "películas"*/

#films-banner {
	background-image: url("films/images/films-banner.jpg");
}

.synopsis{
	display: none;
}

.banner h1 {
	font-size: 4em;
}

.gallery-item {
	transition: 0.2s;
	text-align: left;
}

.gallery-item:hover{
	scale: 1.1;
}

.gallery-active-item{
	scale: 1.1;
}

.gallery-item a{
	color: #703000!important;
}

/*Para el índice cronológico*/

td {
	text-align: center;
}

.film-check {
	scale: 1.5;
}

.stnd_button {
	display: inline-block;
	border-radius: 10px;
	margin: 1em;
	color: #703000;
	padding: .5em;
	background: #C0C0C0;
	transition: 0.2s;
	border-radius: 10px;
	border: none;
}

.stnd_button:hover{
	background: lightGreen;
}

/*Para de análisis*/

#topics-banner {
	background-image: url("ghiblitopics/images/landscape.jpg");

}

/*Para las curiosidades*/

.fact {
	border-bottom: solid #c0c0c0 4px;
	padding: 0.5em 0;
	margin: 0.5em;
}

/*Para el juego*/

#cover {
	max-width: 50%;
	margin: 0 auto 4em;
	display: block;
}

#war-game-image {
	width:100%;
	height:100%;
	margin: 2em 0 2em;
	margin:0 auto;
}

#game_container {
	width: 100%;
	max-width: 800px;
	height: 600px;
	margin: 50px auto;
	display: none;
	border: solid #487a3a 4px!important;
	background: white;
	padding: 2em;
	flex-direction: column;
}

#players-container {
	display: flex;
	justify-content: space-around;
	height: 70%;
}

.player h2 {
	margin: 0;
}

.player {
	width: 35%;
	max-width: 35%;
	padding: 1em;
	background: lightGreen;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#attack_button, #change_button, #next_button {
	display:none;
}

#interface {
	width: 100%;
	height: 30%;
	display: flex;
	padding: .5em;
	min-height: 11em;
	margin: 0 auto;
	justify-content: space-around!important;
	align-items: stretch;
}

#buttons_block {
	display: flex;
	width: 65%;
}

#feedback_block {
	width: 30%;
}

#button_group_1{
	padding: .2em;
	width: 50%;
	display: flex;
	flex-direction: column;
}

#button_group_1 * {
	height: 25%;
}

#button_group_2{
	padding: .2em;
	width: 50%;
	display: flex;
	flex-direction: column;
}

#button_group_2 * {
	height: 100%;
}


#feedback_container{
	overflow: auto;
	padding: 0.5em;
	height: 100%;
	border: solid #c0c0c0 3px!important;
}

#good_image, #villain_image {
	max-width: 100%;
	display: block;
}

.game_button {
	background: lightcoral;
	border-radius: 10px;
	transition: 0.1s;
	padding: .3em;
	width: 100%;
	margin:.5em;
	border:none;
}

.game_button:hover {
	background: crimson;
}

.char_button {
	background: lightgreen;
}

.char_button:hover {
	background: green;
}

.button_active {
	background: lightGray;
}

.button_active:hover {
	background: lightGray;
}

#good_name, #villain_name {
	font-size: 1.5em
}

#start_button {
	display:block;
	margin: 2em auto;
	border-radius: 10px;
	width: 7em;
	height: 4em;
}

#game_over {
	font-size: 2em;
	text-align: center;
	border: solid #487a3a 3px!important;
	padding: 1em;
	display:none;
	margin: 1em;
	background: white;
}

#error {
	display: none;
}

@media (max-width: 600px) {
	#players-container {
		height: 50%;
	}

	#interface{
		height: 50%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	#buttons_block{
		width: 100%;
		height: 50%;
	}
	#feedback_block{
	width: 100%;
	height: 40%;
	}

	#good_name, #villain_name {
		font-size: 1em;
	}
}

/*Para el formulario*/

#message {
	min-height: 10em;
	resize: none!important;
}

.rejected {
	color: red;
	visibility: hidden;
}

#hidden-button {
	visibility: hidden;
}

/*Para la página de referencias*/

#references-banner{
	background-image: url("references/images/references-banner.jpg");
}

/*Para la página de parques*/

#parks-banner {
	background-image: url("parks/images/parks-banner.jpg");
	min-height: 200px;
}